In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("./datasets/italy/rome/Italy-rome_Monthly_Match_2020-01-09.csv")

/Users/ziwang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (24,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.shape

(2193168, 29)

In [11]:
df.head()

,Property ID,Property Type,Listing Type,Bedrooms,Reporting Month,Occupancy Rate,Revenue (USD),Revenue (Native),ADR (USD),ADR (Native),...,Metropolitan Statistical Area,Latitude,Longitude,Active,Scraped During Month,Currency Native,Airbnb Property ID,Airbnb Host ID,HomeAway Property ID,HomeAway Property Manager
0,ab-30143453,Apartment,Private room,1.0,2019-01-01,0.065,65.0,57.78,32.50,28.89,...,NaN,41.89894,12.43293,True,True,EUR,30143453.0,5835676.0,NaN,NaN
1,ab-30143453,Apartment,Private room,1.0,2019-02-01,0.750,708.0,621.97,33.71,29.62,...,NaN,41.89894,12.43293,True,True,EUR,30143453.0,5835676.0,NaN,NaN
2,ab-30143453,Apartment,Private room,1.0,2019-03-01,0.839,915.0,815.44,35.19,31.36,...,NaN,41.89894,12.43293,True,True,EUR,30143453.0,5835676.0,NaN,NaN
3,ab-30143453,Apartment,Private room,1.0,2019-04-01,0.833,1400.0,1250.71,56.00,50.03,...,NaN,41.89894,12.43293,True,True,EUR,30143453.0,5835676.0,NaN,NaN
4,ab-30143453,Apartment,Private room,1.0,2019-05-01,0.774,1293.0,1160.18,53.88,48.34,...,NaN,41.89894,12.43293,True,True,EUR,30143453.0,5835676.0,NaN,NaN

In [12]:
values = {"Revenue (USD)": 0, 
          "Revenue (Native)": 0, 
          "ADR (USD)": 0, 
          "ADR (Native)": 0,
          "Bedrooms": 0,
        "Occupancy Rate": 0,
        "Airbnb Host ID": 0,
         "Neighborhood": 'Not Specified',
         "Property Type": 'Not Specified',
         "Listing Type": 'Not Specified',}
df.fillna(value=values, inplace=True)

In [13]:
df.columns=df.columns.str.replace('(','')
df.columns=df.columns.str.replace(')','')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2193168 entries, 0 to 2193167
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Property ID                    object
 1   Property Type                  object
 2   Listing Type                   object
 3   Bedrooms                       float64
 4   Reporting Month                object
 5   Occupancy Rate                 float64
 6   Revenue USD                    float64
 7   Revenue Native                 float64
 8   ADR USD                        float64
 9   ADR Native                     float64
 10  Number of Reservations         int64
 11  Reservation Days               int64
 12  Available Days                 int64
 13  Blocked Days                   int64
 14  Country                        object
 15  State                          object
 16  City                           object
 17  Zipcode                        float64
 18  Neighborhood                   object
 19  Metropolitan Statistical Area  float64
 20  Latitude                       float64
 21  Longitude                      float64
 22  Active                         bool
 23  Scraped During Month           bool
 24  Currency Native                object
 25  Airbnb Property ID             float64
 26  Airbnb Host ID                 float64
 27  HomeAway Property ID           object
 28  HomeAway Property Manager      object
dtypes: bool(2), float64(12), int64(4), object(11)
memory usage: 456.0+ MB

In [15]:
df.isna().sum()

Property ID                            0
Property Type                          0
Listing Type                           0
Bedrooms                               0
Reporting Month                        0
Occupancy Rate                         0
Revenue USD                            0
Revenue Native                         0
ADR USD                                0
ADR Native                             0
Number of Reservations                 0
Reservation Days                       0
Available Days                         0
Blocked Days                           0
Country                             1364
State                               1364
City                                   0
Zipcode                          2193168
Neighborhood                           0
Metropolitan Statistical Area    2193168
Latitude                               0
Longitude                              0
Active                                 0
Scraped During Month                   0
Currency Native                   317808
Airbnb Property ID                303539
Airbnb Host ID                         0
HomeAway Property ID             1787279
HomeAway Property Manager        2133605
dtype: int64

In [16]:
df.isna().sum()

Property ID                            0
Property Type                          0
Listing Type                           0
Bedrooms                               0
Reporting Month                        0
Occupancy Rate                         0
Revenue USD                            0
Revenue Native                         0
ADR USD                                0
ADR Native                             0
Number of Reservations                 0
Reservation Days                       0
Available Days                         0
Blocked Days                           0
Country                             1364
State                               1364
City                                   0
Zipcode                          2193168
Neighborhood                           0
Metropolitan Statistical Area    2193168
Latitude                               0
Longitude                              0
Active                                 0
Scraped During Month                   0
Currency Native                   317808
Airbnb Property ID                303539
Airbnb Host ID                         0
HomeAway Property ID             1787279
HomeAway Property Manager        2133605
dtype: int64

In [17]:
to_drop = [ 'Country', 'State', 'City', 'Zipcode','Metropolitan Statistical Area', 
       'Scraped During Month', 'Currency Native', 'Airbnb Property ID',
        'HomeAway Property ID', 'HomeAway Property Manager']

In [18]:
df.drop(to_drop, axis=1,inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2193168 entries, 0 to 2193167
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Property ID             object
 1   Property Type           object
 2   Listing Type            object
 3   Bedrooms                float64
 4   Reporting Month         object
 5   Occupancy Rate          float64
 6   Revenue USD             float64
 7   Revenue Native          float64
 8   ADR USD                 float64
 9   ADR Native              float64
 10  Number of Reservations  int64
 11  Reservation Days        int64
 12  Available Days          int64
 13  Blocked Days            int64
 14  Neighborhood            object
 15  Latitude                float64
 16  Longitude               float64
 17  Active                  bool
 18  Airbnb Host ID          float64
dtypes: bool(1), float64(9), int64(4), object(5)
memory usage: 303.3+ MB

In [20]:
df.isna().sum()

Property ID               0
Property Type             0
Listing Type              0
Bedrooms                  0
Reporting Month           0
Occupancy Rate            0
Revenue USD               0
Revenue Native            0
ADR USD                   0
ADR Native                0
Number of Reservations    0
Reservation Days          0
Available Days            0
Blocked Days              0
Neighborhood              0
Latitude                  0
Longitude                 0
Active                    0
Airbnb Host ID            0
dtype: int64

In [21]:
DATE_TIME ='Reporting Month'
df[DATE_TIME] = pd.to_datetime(df[DATE_TIME])

In [22]:
df.columns=df.columns.str.replace(' ','_')

In [23]:
df.to_csv('cleaned.csv', index=False)

# Rome tourist sites

In [24]:
sites = pd.read_csv('./datasets/italy/rome//tourist_site_rome.csv', header=None)

In [25]:
sites

,0,1,2,3
0,Name,Longitude,Latitude,Icon_Path
1,The Colosseum,12.49231,41.89018,https://upload.wikimedia.org/wikipedia/commons...
2,The Trevi Fountain,12.48331,41.90094,https://upload.wikimedia.org/wikipedia/commons...
3,The Pantheon,12.47684,41.89861,https://upload.wikimedia.org/wikipedia/commons...
4,The Roman Forum,12.48433,41.89248,https://upload.wikimedia.org/wikipedia/commons...
5,The Spanish Steps,12.48244,41.90578,https://upload.wikimedia.org/wikipedia/commons...
6,Piazza Navona,12.47332,41.89849,https://upload.wikimedia.org/wikipedia/commons...
7,Castel Sant'Angelo Fortress,12.46629,41.90308,https://upload.wikimedia.org/wikipedia/commons...
8,The Vittorio Emanuele II Monument,12.47332,41.89677,https://upload.wikimedia.org/wikipedia/commons...
9,Vatican Museums,12.45498,41.90507,https://upload.wikimedia.org/wikipedia/commons...
10,St. Peter's Basilica,12.45305,41.90221,https://upload.wikimedia.org/wikipedia/commons...